.heading {
    font-family: Times New Roman;
    text-align: center;
    margin-top: 3%;
}
    
.listone { 
    font-family: verdana;
    font-size: 20px;
    margin-top: 10%;
    margin-left: 35%;
}


    
table {
  margin: .3em;
  width: 290px;
}
